sphinx==9.1.0
sphinx-notfound-page==1.1.0
myst-parser
myst_nb
standard-imghdr
sphinx-book-theme

# Needed for the base module
pandas>=2.2.3
pydantic>=2.11.4
tqdm
openai
#torch>=2.6.0 # mock expensive imports
#transformers>=4.51.3
#vllm>=0.8.5
json_repair